NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC7D4SSTHWohujhIfx5YpPX3DYqh9omEIA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=morning-call-5628c.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=morning-call-5628c
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=morning-call-5628c.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=265165753700
NEXT_PUBLIC_FIREBASE_APP_ID=1:265165753700:web:c3e1ef827b62aa900bbe71
